.header {
    background: #fff;
    position: relative;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 10px 0 rgba(#000, 0.2);
    transition: all .4s ease;

    &__body {
        margin: 0 auto;
        width: 97%;
        max-width: 1350px;
        min-height: 110px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $md3+px) {
            min-height: 80px; 
        }
    }

    &__logo {
        margin-left: -12px;
        position: relative;
        z-index: 2;

        @media (max-width: $md3+px) {
            margin-right: 20px;
            &.logo {
                max-width: 200px;
            }
        }
    }

    &__menu {
        margin-left: auto;
        margin-right: 51px;

        @media (max-width: $md2+px) {
            margin: 0;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        transition: all .2s ease;

        & > span {
            flex: 0 0 20px;
            height: 20px;

            & img {
                width: 100%;
            }
        }

        @media (min-width: 992px) {
            &:hover {
                background: rgba($mainColor2, 0.1);
            }
        }

        @media (max-width: $md2+px) {
            margin-left: auto;
            margin-right: 50px;
        }

        @media (max-width: $md4+px) {
            margin-right: 20px;
        }



    }

    &__burger {
        padding-top: 6px;
        @media (min-width: 992px) {
            display: none;
        }
    }
}



.menu {
    position: relative;
    z-index: 1;
    @media (max-width: $md2+px) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0px 7px 10px 0px rgba($mainColor2, 0.1);
        padding: 10px 15px 20px;
        display: none;
        max-height: calc(100vh - 110px);
        overflow-y: auto;
    }

    @media (max-width: $md3+px) {
        max-height: calc(100vh - 80px);
    }

    @media (min-width: 992px) {
        display: block !important;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media (max-width: $md2+px) {
            display: block;
            text-align: left;
        }

        & > li {
            position: relative;

            &:not(:last-child) {
                margin-right: 20px;
            }

            &.current-menu-item {
                & .menu__link {
                    color: $mainColor2;
                }
            }

            &._active {
                & .menu__triangle {
                    opacity: 1;
                    visibility: visible;
                }
                & .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    transition: all .4s ease;
                } 
            }

            &.is-sub-menu {
                position: relative;

                & .menu__link {
                    @media (min-width: 320px) {
    
                        &:after {
                            font-family: 'icomoon';
                            content: "\e904";
                            transform: rotate(90deg);
                            display: inline-block;
                            margin-left: 10px;
                            font-size: 0.7em;
                        }
                    }
        
                    @media (min-width: 992px) {
                        &:after {
                            display: none;
                        }
        
                    }
        
                }

    
            }

            @media (max-width: $md2+px) {
                margin-bottom: 10px;
                margin-right: 0 !important;
                transition:  all .2s ease;

                & > .menu__link {
                    display: inline-block;
                    margin-bottom: 10px;
                }

                &._active {
                    background-color: rgba($mainColor, 0.2);
                    padding: 10px 0;

                    & .menu__link {
                        &:after {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
    }

    &__link {
        color: $mainColor;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.428em;
        transition: all .2s ease;
        padding: 5px;

        @media (max-width: $md2+px) {
            font-size: 22px;
        }

        @media (min-width: 992px) {
            &:hover {
                color: #fff !important;
                background: $mainColor;
            }
        }


    }

    &__triangle {
        position: absolute;
        top: 38px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        height: 26px;
        display: flex;
        opacity: 0;
        visibility: hidden;
        //transition: opacity .2s ease 0.4s;

        @media (max-width: $md2+px) {
            display: none;
        }

        &:before {
            content: '';
            height: 100%;
            width: 2000px;
            background-color: #fff;
            display: inline-block;
            clip-path: polygon(0% 0%, 100% 0%, 99.2% 100%, 0% 100%);
            transform: translateX(15px);
        }

        &::after {
            content: '';
            height: 100%;
            width: 2000px;
            background-color: #fff;
            display: inline-block;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0.8% 100%);
            transform: translateX(-15px);
        }
        & > span {
            display: inline-block;
            width: 30px;
            height: 100%;
            pointer-events: none;
            //clip-path: polygon(50% 0%, 0 100%, 100% 100%);
        }
    }
}

















@media (min-width: 992px) {
    .sub-menu {
        position: fixed;
        top: 84px;
        left: 0;
        width: 100vw;
        display: block;
        opacity: 0;
        visibility: hidden;

        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;

            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: rgba(#000, 0.7);
            }
            
        }

        &__body {
            position: relative;
            z-index: 2;
            min-height: 562px;
            display: flex;
            justify-content: center;
            padding-top: 75px;
            padding-bottom: 50px;
            //transition: all .4s ease;
            // opacity: 0;
            // visibility: hidden;
        }
    
        &__close {
            position: absolute;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            top: 40px;
            right: 37px;
            transition: all .2s ease;
            cursor: pointer;
            @media (min-width: 992px) {
                &:hover {
                    background: rgba(#fff, 0.2);
                }
            }
            & > span {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 30px;
                height: 30px;
                & img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                    height: auto;
                    width: auto;
                    position: static;
                }
            }
        }
    
        &__item {
            flex: 1 1 auto;
            max-width: 235px;
            min-width: 200px;
            padding-right: 20px;
            padding-left: 20px;
            border-left: 2px solid #fff;
            min-height: 255px;
            align-self: flex-start;

            &:last-child {
                & .sub-menu__title {
                    margin-bottom: 13px;
                }
            }
        }
    
        &__title {
            color: #ffffff;
            font-family: $titleFontFamily;
            font-size: 14px;
            font-weight: 900;
            line-height: 1.428em;
            text-transform: uppercase;
            margin-bottom: 13px;

            & > a {
                color: #fff;

                @media (min-width: 992px) {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &:after {
                display: none;
            }
        }
    
        &__list {
            display: block;
            margin-bottom: 0;
            & > li {
                margin-bottom: 8px;
    
                & > a {
                    color: #ffffff;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 2em;
                    text-transform: uppercase;
                    transition: all .2s ease;
                    @media (min-width: 992px) {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    
}
















@media (min-width: 320px) {
    .sub-menu {
        display: none;
        &._active {

        }
    
        &__close {
            display: none;
        }
    
        &__item {
            padding-left: 15px;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
                
            }
        }
    
        &__title {
            color: $mainColor;
            font-family: $titleFontFamily;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.428em;
            text-transform: uppercase;
            //margin-bottom: 10px;

            &:after {
                font-family: 'icomoon';
                content: "\e904";
                transform: rotate(90deg);
                display: inline-block;
                margin-left: 10px;
                font-size: 0.7em;
            }

            &._active {
                &:after {
                    transform: rotate(-90deg);
                }
            }
        }
    
        &__list {
           // margin-bottom: 5px;
           margin-top: 10px;
            display: none;
            & > li {
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
    
                & > a {
                    color: $mainColor;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 1.6em;
                    text-transform: uppercase;
                    transition: all .2s ease;
                }
            }
        }
    }
}

