.header {
    background: #fff;
    position: relative;
    z-index: 50;
    &__body {
        margin: 0 auto;
        width: 97%;
        max-width: 1350px;
        min-height: 110px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $md3+px) {
            min-height: 80px; 
        }
    }

    &__logo {
        margin-left: -12px;

        @media (max-width: $md3+px) {
            margin-right: 20px;
            &.logo {
                max-width: 200px;
            }
        }
    }

    &__menu {
        margin-left: auto;
        margin-right: 51px;

        @media (max-width: $md2+px) {
            margin: 0;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        transition: all .2s ease;

        & > span {
            flex: 0 0 20px;
            height: 20px;

            & img {
                width: 100%;
            }
        }

        @media (min-width: 992px) {
            &:hover {
                background: rgba($mainColor2, 0.1);
            }
        }

        @media (max-width: $md2+px) {
            margin-left: auto;
            margin-right: 50px;
        }

        @media (max-width: $md4+px) {
            margin-right: 20px;
        }



    }

    &__burger {
        padding-top: 6px;
        @media (min-width: 992px) {
            display: none;
        }
    }
}



.menu {
    @media (max-width: $md2+px) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0px 7px 10px 0px rgba($mainColor2, 0.1);
        padding: 10px 15px 20px;
        display: none;
        max-height: calc(100vh - 110px);
        overflow-y: auto;
    }

    @media (max-width: $md3+px) {
        max-height: calc(100vh - 80px);
    }

    @media (min-width: 992px) {
        display: block !important;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media (max-width: $md2+px) {
            display: block;
            text-align: left;
        }

        & > li {

            &:not(:last-child) {
                margin-right: 20px;
            }

            &.current-menu-item {
                & .menu__link {
                    color: $mainColor2;
                }
            }

            @media (max-width: $md2+px) {
                margin-bottom: 10px;
                margin-right: 0 !important;
                transition:  all .2s ease;
                &._active {
                    background-color: rgba($mainColor, 0.2);
                    padding: 10px 0;

                    & .menu__link {
                        &:after {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
    }

    &__link {
        color: $mainColor;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.428em;
        transition: all .2s ease;
        padding: 5px;

        @media (max-width: $md2+px) {
            font-size: 22px;
        }

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor2;
                background: rgba($mainColor2, 0.1);
            }
        }

        &.is-sub-menu {
            position: relative;

            @media (min-width: 320px) {

                &:after {
                    font-family: 'icomoon';
                    content: "\e904";
                    transform: rotate(90deg);
                    display: inline-block;
                    margin-left: 10px;
                    font-size: 0.7em;
                }
            }

            @media (min-width: 992px) {
                &:after {
                    display: none;
                }


                &:before {
                    position: absolute;
                    content: '';
                    top: 160%;
                    left: 50%;
                    transform: translateX(-50%);
                    background: rgba(#000, 0.7);
                    width: 30px;
                    height: 26px;
                    opacity: 0;
                    pointer-events: none;
                    transition: all .3s ease;
                    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
                }

                &._active {
                    &:before {
                        opacity: 1;
                    }
                }
            }


        }

    }
}

















@media (min-width: 992px) {
    .sub-menu {
        position: absolute;
        top: 100%;
        width: 100%;
        background: rgba(#000, 0.6);
        min-height: 600px;
        display: flex;
        justify-content: center;
        padding-top: 55px;
        transition: all .4s ease;
        opacity: 0;
        visibility: hidden;
        &._active {
            opacity: 1;
            visibility: visible;
        }
    
        &__close {
            position: absolute;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            top: 40px;
            right: 37px;
            transition: all .2s ease;
            cursor: pointer;
            @media (min-width: 992px) {
                &:hover {
                    background: rgba(#fff, 0.2);
                }
            }
            & > span {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 30px;
                height: 30px;
                & img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                    height: auto;
                    width: auto;
                    position: static;
                }
            }
        }
    
        &__item {
            flex: 1 1 auto;
            max-width: 235px;
            min-width: 200px;
            padding-right: 20px;
            padding-left: 20px;
            border-left: 2px solid #fff;
            min-height: 255px;
            align-self: flex-start;
        }
    
        &__title {
            color: #ffffff;
            font-family: $titleFontFamily;
            font-size: 14px;
            font-weight: 900;
            line-height: 1.428em;
            text-transform: uppercase;
            margin-bottom: 13px;

            &:after {
                display: none;
            }
        }
    
        &__list {
            display: block;
            margin-bottom: 0;
            & > li {
                margin-bottom: 8px;
    
                & > a {
                    color: #ffffff;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 2em;
                    text-transform: uppercase;
                    transition: all .2s ease;
    
                    @media (min-width: 992px) {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    
}
















@media (min-width: 320px) {
    .sub-menu {
        display: none;
        &._active {

        }
    
        &__close {
            display: none;
        }
    
        &__item {
            padding-left: 15px;

        }
    
        &__title {
            color: $mainColor;
            font-family: $titleFontFamily;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.428em;
            text-transform: uppercase;
            margin-bottom: 2px;

            &:after {
                font-family: 'icomoon';
                content: "\e904";
                transform: rotate(90deg);
                display: inline-block;
                margin-left: 10px;
                font-size: 0.7em;
            }

            &._active {
                &:after {
                    transform: rotate(-90deg);
                }
            }
        }
    
        &__list {
            margin-bottom: 5px;
            display: none;
            & > li {
                margin-bottom: 6px;
    
                & > a {
                    color: $mainColor;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 1.6em;
                    text-transform: uppercase;
                    transition: all .2s ease;

                }
            }
        }
    }
}

