

@include font("DIN", "DIN-Bold", "700", "normal");

@include font("DIN", "DIN-Black", "900", "normal");
@include font("DIN", "DINAlternate-Regular", "400", "normal");
//@include font("DIN", "DINBlackAlternate", "900", "normal");
//@include font("DIN", "DINBold", "700", "normal");
//@include font("DINLight", "DINLight", "300", "normal");
@include font("DIN", "DINLightAlternate", "300", "normal");
//@include font("DINMedium", "DINMedium", "500", "normal");
@include font("DIN", "DINMediumAlternate", "500", "normal");

//@include font("DIN", "DINPro-Black", "900", "normal");
// @include font("DINPro-BlackItalic", "DINPro-BlackItalic", "400", "normal");
// @include font("DINPro-BoldItalic", "DINPro-BoldItalic", "400", "normal");
// @include font("DINPro-CondensedBlack", "DINPro-CondensedBlack", "400", "normal");
//@include font("DIN", "DINPro-Bold", "700", "normal");
// @include font("DINPro-CondensedBold", "DINPro-CondensedBold", "400", "normal");
// @include font("DINPro-CondensedBoldItalic", "DINPro-CondensedBoldItalic", "400", "normal");
// @include font("DINPro-CondensedBlackItalic", "DINPro-CondensedBlackItalic", "400", "normal");
// @include font("DINPro-CondensedItalic", "DINPro-CondensedItalic", "400", "normal");
// @include font("DINPro-CondensedLightItalic", "DINPro-CondensedLightItalic", "400", "normal");
// @include font("DINPro-CondensedLight", "DINPro-CondensedLight", "400", "normal");
//@include font("DIN", "DINPro-CondensedMedium", "500", "normal");
// @include font("DINPro-CondensedMediumItalic", "DINPro-CondensedMediumItalic", "400", "normal");
// @include font("DINPro-CondensedRegular", "DINPro-CondensedRegular", "400", "normal");
// @include font("DINPro-Italic", "DINPro-Italic", "400", "normal");
// @include font("DINPro-Light", "DINPro-Light", "400", "normal");
// @include font("DINPro-LightItalic", "DINPro-LightItalic", "400", "normal");
// @include font("DINPro-Medium", "DINPro-Medium", "400", "normal");
// @include font("DINPro", "DINPro", "400", "normal");
// @include font("DINPro-MediumItalic", "DINPro-MediumItalic", "400", "normal");



// @include font("HelveticaNeueBlackCondensed", "HelveticaNeueBlackCondensed", "400", "normal");
// @include font("HelveticaNeueBoldCondensed", "HelveticaNeueBoldCondensed", "400", "normal");
// @include font("HelveticaNeueCyr-Black", "HelveticaNeueCyr-Black", "400", "normal");
// @include font("HelveticaNeueCyr-BlackItalic", "HelveticaNeueCyr-BlackItalic", "400", "normal");
// @include font("HelveticaNeueCyr-Bold", "HelveticaNeueCyr-Bold", "400", "normal");
// @include font("HelveticaNeueCyr-BoldItalic", "HelveticaNeueCyr-BoldItalic", "400", "normal");
// @include font("HelveticaNeueCyr-Heavy", "HelveticaNeueCyr-Heavy", "400", "normal");
// @include font("HelveticaNeueCyr-HeavyItalic", "HelveticaNeueCyr-HeavyItalic", "400", "normal");
// @include font("HelveticaNeueCyr-Italic", "HelveticaNeueCyr-Italic", "400", "normal");
// @include font("HelveticaNeueCyr-Light", "HelveticaNeueCyr-Light", "400", "normal");
// @include font("HelveticaNeueCyr-LightItalic", "HelveticaNeueCyr-LightItalic", "400", "normal");
@include font("HelveticaNeueCyr", "HelveticaNeueCyr-Medium", "500", "normal");
// @include font("HelveticaNeueCyr-MediumItalic", "HelveticaNeueCyr-MediumItalic", "400", "normal");
@include font("HelveticaNeueCyr", "HelveticaNeueCyr-Roman", "400", "normal");
// @include font("HelveticaNeueCyr-Thin", "HelveticaNeueCyr-Thin", "400", "normal");
// @include font("HelveticaNeueCyr-ThinItalic", "HelveticaNeueCyr-ThinItalic", "400", "normal");
// @include font("HelveticaNeueCyr-UltraLight", "HelveticaNeueCyr-UltraLight", "400", "normal");
// @include font("HelveticaNeueCyr-UltraLightItalic", "HelveticaNeueCyr-UltraLightItalic", "400", "normal");


// @include font("TTNorms", "TTNorms-Black", "400", "normal");
// @include font("TTNorms", "TTNorms-BlackItalic", "400", "normal");
// @include font("TTNorms", "TTNorms-Bold", "400", "normal");
// @include font("TTNorms", "TTNorms-BoldItalic", "400", "normal");
// @include font("TTNorms", "TTNorms-ExtraBold", "400", "normal");
// @include font("TTNorms", "TTNorms-ExtraBoldItalic", "400", "normal");
// @include font("TTNorms", "TTNorms-ExtraLight", "400", "normal");
// @include font("TTNorms", "TTNorms-ExtraLightItalic", "400", "normal");
// @include font("TTNorms", "TTNorms-Heavy", "400", "normal");
// @include font("TTNorms", "TTNorms-HeavyItalic", "400", "normal");
// @include font("TTNorms", "TTNorms-Italic", "400", "normal");
// @include font("TTNorms", "TTNorms-Light", "400", "normal");
// @include font("TTNorms", "TTNorms-LightItalic", "400", "normal");
// @include font("TTNorms", "TTNorms-Medium", "400", "normal");
// @include font("TTNorms", "TTNorms-MediumItalic", "400", "normal");
// @include font("TTNorms", "TTNorms-Regular", "400", "normal");
// @include font("TTNorms", "TTNorms-Thin", "400", "normal");
// @include font("TTNorms", "TTNorms-ThinItalic", "400", "normal");



@font-face {
  font-family: "TTNorms";
  font-display: swap;
  src: url("../fonts/TT Norms Pro Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TTNorms-Italic";
  font-display: swap;
  src: url("../fonts/TT Norms Pro Italic.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "TTNorms";
  font-display: swap;
  src:url("../fonts/TT Norms Pro Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTNorms";
  font-display: swap;
  src:url("../fonts/TT Norms Pro Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}